<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dit.test.mapper.UserMapper">
	
	<select id="register" parameterType="com.dit.test.domain.UserVO">
		
		insert into user_tbl (email, username, password, phone)
			values (#{email}, #{username}, #{password}, #{phone})
		
	</select>
	
	<select id="getUserInfo" resultType="com.dit.test.domain.UserVO">
		
		SELECT * FROM user_tbl WHERE email = #{email} AND password = #{password}
		
	</select>
	
</mapper>