@font-face {
    font-family: 'korean';
    src: url('../Font/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'english';
    src: url('../Font/Cormorant-VariableFont_wght.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
   
    background-color: white;
}
hr {
    background-color: rgb(204, 203, 203);
    height:1px;
    border:0;
}
.header-main {
    font-family: 'english';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding-left: 50px;
}

.header-center ul {
    padding: 0;
    cursor: default;
}

.header-center li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.header-center li:hover {
    color: gray;
    cursor: pointer;
}

.header-center li a {
    text-decoration: none;
    color: inherit;
}

/* Dropdown Styles */
.header-center ul li {
    position: relative;
}

.header-center ul li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    /* 배경색 지정 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 그림자 효과 */
    z-index: 1;
    /* 다른 요소 위에 표시 */
}

.submenu li {
    display: block;
    padding: 10px;
    text-align: left;
}

.submenu li:hover {
    background-color: #f5f5f5;
    /* 마우스 호버 시 배경색 변경 */
}

.header-right {
    padding-right: 50px;
    cursor: default;
}

.header-right a {
    text-decoration: none;
    color: inherit;
    padding-left: 10px;
    padding-right: 10px;
}

.header-right a:hover {
    color: gray;
    cursor: pointer;
}

/* ------------------------------------------------ */
main {
    margin-top: 100px;
    font-family: 'korean';
}

.main-container {
    background-color: white;
    margin: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.post-container {
    margin-top: 50px;
    width: 30%;
}

#login-title {
    font-size: 20px;
    margin-bottom: 50px;
}

.login-box {
    color: rgb(100, 100, 100);
}

.login-id {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-id input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.login-password {
    color: #666666;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-password input {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
#find-password {
    text-align : center;
    cursor: pointer;
}

#find-password a {
    font-size: 15px;
    text-decoration: none;
    color: inherit;
} 
.login-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.login-submit {
    width: 60%;
    border: none;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.login-submit:hover {
    background-color: #555555;
    cursor: pointer;
}
