<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/defaultlayout}">

<th:block layout:fragment="script">
	<script th:src="@{/js/test.js}"></script>
</th:block>
<div layout:fragment="content">
	<main>
		<div id="empty-space">
			<div>
				<img onclick="location.href='/'" src="/image/logo1.png" alt="logo">
			</div>
			<div>
				<a>"COLORLESS is the truest expression of humanity."</a>
			</div>
		</div>
		<p>Data Size: <span th:text="${songs != null ? songs.size() : 'null'}"></span></p>
		<div class="main-container">
			<div th:each="container : ${#numbers.sequence(0, 1)}" class="box-container">
				<!-- 각 box 생성 -->
				<div th:each="idx : ${#numbers.sequence(container * 4, (container + 1) * 4 - 1)}" class="box">
					<img th:src="@{'image/s' + ${songs[idx].id} + '.png'}" alt="album"
						th:data-musicurl="${songs[idx].musicurl}"
						th:data-title="${songs[idx].title}"
						onclick="changeAudioSource(this.getAttribute('data-musicurl'), this.getAttribute('data-title'));">
					<a th:text="${songs[idx].title}"></a><br>
					<a th:text="${songs[idx].singer}"></a>
				</div>
			</div>
		</div>

	</main>
</div>


</html>